.main {
  display: flex;
  flex-direction: column;
}
  
.base {
  flex: 1 !important;
  position: relative;
  min-height: 100vh;
}

footer {
  background-color: #282b30;
  color: #f1f1f1;
  font-family: RobotoCondensed;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: end;
}